.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: lightgray;
}

.container > * {
  background-color: orange;
  border: 1px solid #666;
  font-size: 2rem;
  text-align: center;
}

.container > *:hover {
  background-color: #555;
}

.container > *:active {
  background-color: #666;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 6em 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container > .body {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 6;
  border: 1px solid #666;
}

.container > input:first-child {
  text-align: end;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: gray;
}

.container > button:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  background-color: #edecec;
}

.container > button:nth-child(7) {
  grid-column-start: 4;
}

.container > button:nth-child(8) {
  grid-row-start: 6;
  grid-column-start: 3;
  background-color: #edecec;
}
.quatesDiv{
   box-shadow: 10px 10px 10px 10px gray;
    margin: 0 auto;
    padding: 33px;
    max-width: 646px;
}
